# Ignoring environment variables

.env
*/.env
/.env

# Ignoring cache

.__pycache__
*/.__pycache__
*.__pycache__
/.__pycache__
__pycache__
#Ignoring migrations

.migrations
*/.migrations
/.migrations
migrations

# Ignoring static files
static
./static
*/static
staticfiles
./staticfiles
*./staticfiles
media
./media
*/media
media

#Ignoring the DB backup
.sql
*.sql

var

