# Ignoring environment variables

.env
*/.env
/.env

# Ignoring cache

.__pycache__
*/.__pycache__
*.__pycache__
/.__pycache__
__pycache__
#Ignoring migrations

.migrations
*/.migrations
/.migrations
migrations
