{% extends "cookie_consent/base.html" %}

{% block body %}
  <h1>Cookies</h1>

  <p>
    Con su consentimiento, tanto nosotros como nuestros socios utilizamos cookies u tecnologías similares para almacenar, acceder y procesar datos personales como su visita a esta página web, identificadores de cookies y otros datos relacionados de su dispositivo. Algunos socios no requieren su consentimiento para procesar sus datos y se basan en su interés comercial legítimo. Puede retirar su permiso o rechazar el procesamiento de datos en función de su interés legítimo en cualquier momento, haciendo clic en 'Configurar'.
    Tanto nosotros como nuestros socios realizamos el siguiente procesamiento de datos: Almacenar la información en un dispositivo y/o acceder a ella . Uso de datos limitados para seleccionar anuncios básicos. Crear perfiles para publicidad personalizada . Utilizar perfiles para seleccionar la publicidad personalizada . Crear un perfil para personalizar el contenido . Uso de perfiles para la selección de contenido personalizado . Medir el rendimiento de la publicidad. Medir el rendimiento del contenido. Comprender al público a través de estadísticas o a través de la combinación de datos procedentes de diferentes fuentes. Desarrollo y mejora de los servicios. Uso de datos limitados con el objetivo de seleccionar el contenido. Utilizar datos de localización geográfica precisa. Analizar activamente las características del dispositivo para su identificación.
  </p>

  {% for cookie_group in object_list  %}
    {% include "cookie_consent/_cookie_group.html" %}
  {% endfor %}

  <button id="back-button">Volver</button>

<script>
  // Cuando la página se carga, almacena la URL de la página actual en una cookie
  // a menos que la página actual sea la página de cookies
  document.addEventListener('DOMContentLoaded', function() {
    if (!window.location.href.includes('cookies')) { // Reemplaza 'cookies' con la ruta de tu página de cookies
      document.cookie = "previousPage=" + window.location.href + ";path=/";
    }
  });

  // Cuando el usuario hace clic en el botón "Volver", redirige a la URL almacenada
  document.querySelector('#back-button').addEventListener('click', function(event) {
    event.preventDefault();
    var cookie = document.cookie.split('; ').find(row => row.startsWith('previousPage='));
    var previousPage = cookie ? cookie.split('=')[1] : null;
    if (previousPage) {
      window.location.href = previousPage;
    } else {
      // Redirige al usuario a una página predeterminada si no hay ninguna URL almacenada
      window.location.href = '/'; // Reemplaza '/' con la URL de tu página predeterminada
    }
  });
</script>
{% endblock %}
