{% extends 'pages/base.html' %}
{% load static %}

{% block description %}
Cursos realizados por Egoitz Abilleira
{% endblock description %}
{% block extrahead %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock extrahead %}
{% block title %}
Cursos y Certificaciones
{% endblock title %}

{% block navbar %}
{% include 'pages/navbar.html' %}
{% endblock navbar %}

{% block content %}
<main id="content-main">
    <div id="content">
        <h1>Listado de Cursos</h1>
    </div>

    <div class="grid-container">
    {% for curso in cursos %}
        <div class="grid-item">
            <h2>{{ curso.nombre }}</h2>
            {% if curso.archivo %}
                <div class="curso-image-container">
                    <img class="curso-image" src="{{ curso.archivo.url }}" alt="{{ curso.nombre }}" onclick="openModal('myModal{{ forloop.counter }}', '{{ curso.archivo.url }}', '{{ curso.nombre }}')">
                </div>
            {% endif %}
            <!-- Resto del código -->
        </div>
        <div id="myModal{{ forloop.counter }}" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('myModal{{ forloop.counter }}')">&times;</span>
                <img id="modalImage{{ forloop.counter }}" src="" alt="Modal Image">
                <h2 id="modalTitle{{ forloop.counter }}"></h2>
            </div>
        </div>
    {% endfor %}
    </div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="pagination-button" href="?page=1">&laquo; Primera</a>
            <a class="pagination-button" href="?page={{ page_obj.previous_page_number }}">Previa</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="pagination-button" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="pagination-button" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>
</main>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}
