* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
    --contraste: rgb(10, 182, 39);
	--contraste-palido: rgb(199, 235, 190);
	--principal: rgb(255, 254, 174);
	--palido: rgb(201, 255, 101);
	--sombra-principal: rgb(252, 166, 90);
	--azulado: rgb(67, 117, 255);
	--titulos: #1dac48;
    --dark-color: #000000ff;
	--white-color: #ffffffff;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
	background-color: var(--principal);
}

body.dark {
    --contraste: rgb(35, 68, 71);
	--contraste-palido: rgb(79, 88, 77);
	--principal: rgb(88, 94, 94);
	--palido: rgb(180, 111, 72);
	--sombra-principal: rgb(87, 54, 25);
	--titulos: #861f2d;
    --dark-color: #000000ff;
	--white-color: rgb(202, 202, 202);
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
	background-color: var(--principal);
	color: #fff;
}
/* block of css for the navbar-menu */

.checkbtn {
	font-size: 30px;
	color: var(--dark-color);
	position: fixed;
	top: 2vh;
	right: 2vh;
	line-height: 80px;
	margin-right: 2%;
	cursor: pointer;
	display: block;
	border: 2px solid var(--sombra-principal);
	border-radius: 25px;
	padding: 10px 40px;
	background-color: var(--palido);
	transition: background-color 0.3s ease;
}

@media (max-width: var(--breakpoint-sm)) {
    .checkbtn {
        top: 10vh;
        right: 10vw;
    }
}

.checkbtn:hover {
	background-color: var(--contraste);
}

nav ul li {
	display: block;
	margin: 50px;
	line-height: 30px;
	margin-top: 10vh;
	}

li a:hover,	li a:active {
	background: none;
	color: var(--sombra-principal);
	}

nav ul li a {
		color: #fff;
		font-size: 4vw;
		padding: 7px 13px;
		border-radius: 3px;
		text-transform: uppercase;
	}


li a.active, li a:hover {
		background: #4f4f5a;
		transition: 0.5s;
	}

ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #04110f;
		top: 0px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
		opacity: 0.9;
		}

#closeIcon {
			position: absolute;
			top: 3%;
			right: 5%;
			font-size: 3em;
			cursor: pointer;
			display: none;
			color: white;
			width: 1em;
			height: 1em;
}

#navbar {
	z-index: 100;
	position: relative;
}

/* Lógica para ocultar y mostrar el icono de cierre del menú */
#openMenu, #closeMenu {
	display: none; /* Oculta los botones de radio */
}

#openMenu:checked ~ #menu {
	left: 0; /* Muestra el menú cuando #openMenu está seleccionado */
}

#closeMenu:checked ~ #closeIcon {
	display: none; /* Oculta la "X" cuando #closeMenu está seleccionado */
}

#openMenu:checked ~ #menu #closeIcon {
	display: block; /* Muestra la "X" cuando #openMenu está seleccionado */
	color: white;
}

/* termina el bloque de css para el navbar */


/* Estilos para la página principal */

.header-video {
	position: relative;
	width: 100%;
	height: 75vh;
	overflow: hidden;
	z-index: 1;
}

.header-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.header-video h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--azulado);
	font-size: 9vh;
}

#content h1 {
	color: var(--azulado);
	font-size: 5vh;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

#main-content {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--contraste-palido);
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 100%;
	border-radius: 10px;
}

.footer-links {
    order: 2;
	flex-direction: column;
	align-items: start;
}

.footer-links a {
    color: var(--dark-color);
    margin-bottom: 2%;
    display: block;
    font-size: 1.2rem;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1%;
	max-width: 80%;
	box-sizing: border-box;
	background-color: var(--contraste-palido);
}

footer .footer-form {
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3125rem;
}

footer .footer-form input,
footer .footer-form textarea,
footer .footer-form button {
		padding: 0.3125rem;
		font-size: 0.875rem;
		box-sizing: border-box;
		width: 80%;
		border-radius: 10px;
		display: block;
	}

footer .footer-form label {
    margin-bottom: 0.125rem;
}

body .opening-title-container {
    background-color: var(--palido);
}

.opening-title {
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--titulos);
    text-align: center;
    margin-top: 10%;
    display: block;
	margin-bottom: 20px;
}

.section.opening-title {
	background-color: var(--titulos);
}

.opening-section-title {
	font-size: 3rem;
	font-family: 'Nunito', sans-serif;
	color: var(--titulos);
	text-align: center;
	margin-top: 7%;
	padding: 1em;
	word-wrap: break-word;
}

.opening-section-text {
	font-size: 1.2rem;
	font-family: 'Arial', sans-serif;
	color: var(--dark-color);
	text-align: left;
	margin-top: 1%;
	line-height: 1.5;
	text-indent: 2em;
	padding: 1em;
}

.opening-section-title, .opening-section-text {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho */
    max-width: 100%;
	max-height: 100%;
}

/* Estilos comunes para .opening-section */
body .opening-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 10px solid #ccc;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	padding: 2%;
	max-width: 100%;
	height: auto;
	margin: 5% auto;
	transform: translateY(20px);
	transition: all 1s ease;
	animation: slideIn 1s linear forwards;
	background-color: var(--white-color);
}

/* Definición de la animación slideIn */
@keyframes slideIn {
	0% {
		opacity: 1;
		transform: translateY(20px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Estilos específicos para cuando animation-timeline: view() es compatible */
@supports (animation-timeline: view()) {
	body .opening-section {
		opacity: 0;
		view-timeline-axis: block;
		animation-timeline: view();
	}
}

/* Estilos específicos para cuando animation-timeline: view() no es compatible */
@supports not (animation-timeline: view()) {
	body .opening-section {
		opacity: 1;
		overflow: hidden;
	}
}

/* Estilos para dispositivos con un ancho mínimo de 768px */
@media (min-width: 768px) {
	body .opening-section {
		width: 90%;
		height: 20%;
	}

	footer {
		flex-direction: row;
		box-sizing: border-box;
		overflow: hidden;
	}

	.footer-links {
		width: 50%;
		order: 1;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.footer-links a {
		color: var(--dark-color);
		margin-bottom: 2%;
		display: block;
		font-size: 1.2rem;
		border: 1px solid #000;
		border-radius: 10px;
		padding: 1%;
		max-width: 40%;
		box-sizing: border-box;
		background-color: var(--contraste-palido);
	}

	footer .footer-form {
		order: 2;
		width: 50%;
	}

	footer .footer-form input,
	footer .footer-form textarea,
	footer .footer-form button {
		padding: 0.3125rem;
		font-size: 0.875rem;
		box-sizing: border-box;
		width: 40%;
		border-radius: 10px;
		display: block;
	}
}

/* Estilos para la imagen de inicio */
.home-image {
	max-width: 60%;
	object-fit: fill;
	justify-self: center;
}


.flex-home {
	display: grid;
	grid-template-areas:
		"title title"
		"text image";
	grid-template-columns: 2fr 1fr;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
    .flex-home {
        grid-template-areas:
            "title"
            "text"
            "image";
        grid-template-columns: 1fr;
    }
	.opening-section-title {
		font-size: 1.4rem;
		font-family: Arial, sans-serif;
		color: var(--contraste);
		text-align: center;
		margin-top: 7%;
		word-wrap: break-word;
		margin: 0 auto;
		border: 0;
		padding: 0;
	}

	.flex-home .home-image {
        grid-area: image;
        display: flex;
        justify-content: center;
        align-items: center;
		width: auto;
    }

}

.flex-home .opening-section-title {
	grid-area: title;
	word-wrap: break-word;
}

.flex-home .home-image {
	grid-area: image;
}

.flex-home .opening-section-text {
	grid-area: text;
}
/* termina el bloque de css para el video de la página principal */


/* Estilos para la página de proyectos */


body .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	display: none;
	background-color: var(--principal);
	opacity: 1;
	border: 8px solid #000;
}

.modal-content img {
	max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
	max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
	object-fit: contain; /* Asegura que la imagen mantenga su aspecto original */
}

@media screen and (max-width: 1000px) {
	* {
		max-width: 100%;
		box-sizing: border-box;
	}
    .modal {
        display: none; /* Oculta el modal en pantallas de menos de 600px de ancho */
    }

	.modal-content img {
		display: none;
	}

	.modal h2 {
		display: none;
	}

	.modal-content .close {
		display: none;
	}
}
.proyecto-list h2 {
	margin-bottom: 10%;
}
.proyecto-list {
    transition: transform 2s ease, box-shadow 2s ease;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Aumenta el tamaño del proyecto y añade una sombra al hacer hover */
.proyecto-list:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border: 2px solid #000;
}

.proyecto-list .url {
    width: 90%;
    margin-top: auto; /* Añade esto para empujar el elemento .url hacia abajo */
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Cambia "3" por "auto-fill" y ajusta el ancho mínimo */
	gap: 30px;
	margin: 5% 5% 5% 5%;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
	max-height: 200vh; /* cambiar esto mañana, no funciona */
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	background-color: var(--white-color);
}

.grid-item:hover {
    max-height: 100%;
}
/* Termina estilos para página de proyectos */

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	color: white;
	background-color: black;
}

.codigo-container {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
	margin: 3rem 0;
}

#content {
    margin-top: 150px;
	text-align: center;
}

.curso-image {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.enlace {
	position: absolute;
	padding: 20px 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
	margin-top: 6rem;
}

.flex-item {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-item h2 {
    margin-top: 8vh;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}

.logo {
	height: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pagination .step-links a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
}

.pagination .step-links a:hover {
    background-color: #f8f9fa;
}

.pagination .step-links .current {
    margin: 0 5px;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
}

pre {
    overflow-x: auto;
}

#proyectos-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3vh 3vh;
	max-width: 100%;
}

.proyecto-subtitle {
	font-size: 2rem;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(75, 75, 80);
	text-align: center;
	margin-top: 5vh;
}

.proyecto-title {
	font-size: 4rem;
	font-family: 'Courier New', Courier, monospace;
	color: var(--titulos);
	text-align: center;
	margin-top: 15vh;
}

.proyecto-text {
    margin: 3rem 2rem;
    text-align: justify;
	font-size: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.proyecto-url {
	margin: 3rem 2rem;
	text-align: center;
	font-size: 1.5rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}



@media (max-width: 1024px) {

	.opening-title {
		font-size: 2rem;
		margin-top: calc(15% + 80px);
	}

}

@media screen and (max-width: 700px) {

    #contacto-main {
        display: flex; /* cambia a flexbox */
        justify-content: center; /* centra los elementos horizontalmente */
        align-items: center; /* centra los elementos verticalmente */
        flex-direction: column; /* coloca los elementos en una columna */
    }

    #links-redes {
        grid-row: 2;
		grid-column: auto;
		margin: 5vh 5vh 5vh 5vh !important;
    }

	.grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Ajusta el ancho mínimo a 100% */
        margin: 5% 5% 5% 5%; /* Cambia las unidades de vh a % */
    }

    .grid-item {
        max-height: none; /* Elimina la restricción de altura máxima */
    }
	.proyecto-title {
		font-size: 2rem;
		font-family: 'Courier New', Courier, monospace;
		color: rgb(75, 75, 80);
		text-align: center;
		margin-top: 15vh;
		overflow-wrap: break-word;
	}
}
/* Bloque de la página de contacto */
.contacto-boton {
    width: 200px; /* Cambia esto al ancho que quieras */
    height: 50px; /* Cambia esto a la altura que quieras */
    font-size: 1.5rem; /* Cambia esto al tamaño de fuente que quieras */
    padding: 10px; /* Cambia esto al relleno que quieras */
}

#contacto-main {
    display: grid;
    grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
    gap: 20px; /* espacio entre las columnas */
}

#contacto-main h2,
#contacto-main p {
	grid-column: 1 / -1;
	margin: 20px 0;
}

#separador {
	grid-column: 1 / -1;
	height: 8vh;
	background-color: var(--contraste);
}

#links-redes {
    grid-column: span 1;
    grid-row: 4; /* asigna los enlaces a la cuarta fila */
}

#contacto-form h1 {
    background-color: #f2f2f2; /* Ajusta este valor según tus necesidades */
    padding: 10px;
    text-align: center;
}

#contacto-form input, #contacto-form textarea {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%; /* Ajusta este valor según tus necesidades */
}

#contacto-form {
	display: grid;
	grid-template-columns: 1fr; /* crea una sola columna */
	grid-gap: 10px; /* añade un espacio entre las filas */
	grid-column: span 1;
	grid-row: 3;
	width: 90%;
	margin: 0 auto 10vh auto;
	border: 4px solid var(--sombra-principal);
	padding: 20px;
}

.social-link {
    display: block;
    margin-bottom: 10px;
	width: 100%;
}

.image-container {
	background-color: var(--honeydew); /* Azul oscuro */
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 0;
    padding: 0;

}
@media (min-width: 900px) {
	#contacto-main {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}

	#header-container {
		grid-column: 1 / -1;
		margin: 20px 0;
		grid-row: 1;
	}

	#separador {
		grid-row: 2; /* asigna el separador a la segunda fila */
	}

	#contacto-form,
	#links-redes {
		grid-column: span 1;
		grid-row: 3;
	}

	#contacto-form {
		width: 80%; /* reduce el ancho del formulario al 50% para pantallas grandes */
	}
}

@media (min-width: 1024px) {
    #contacto-form {
        width: 70%; /* reduce el ancho del formulario al 60% para pantallas grandes */
    }
}

.logo-image {
    max-width: 50%;
    max-height: 100%;
}

body.with-cookie-bar {

	padding-top: 35px;
	}

.cookie-bar {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align:center;
	height:150px;
	line-height: 25px;
	background: #3f3e3e;
	color: #fff;
	}

.cookie-info {
	color: #fff;
	text-decoration: underline;
}

#header-container h2, #header-container p {
	text-align: center;
}

#header-container h2 {
	color: rgb(93, 243, 130);
	font-size: 2rem;
	margin: 100px 20px; /* Añade margen a la derecha e izquierda */
}

#header-container p {
	font-size: 1.5rem;
	margin: 30px 20px; /* Añade margen a la derecha e izquierda */
}

@media screen and (min-width: 768px) {
	#header-container h2 {
		font-size: 3rem;
		margin: 130px 40px; /* Aumenta el margen en pantallas más grandes */
	}

	#header-container p {
		font-size: 2rem;
		margin: 90px 40px; /* Aumenta el margen en pantallas más grandes */
	}
}

@media screen and (min-width: 1200px) {
	#header-container h2 {
		font-size: 4rem;
		margin: 130px 60px; /* Aumenta el margen en pantallas aún más grandes */
	}

	#header-container p {
		font-size: 2.5rem;
		margin: 90px 60px; /* Aumenta el margen en pantallas aún más grandes */
	}
}

#separador {
    grid-row: 2; /* asigna el separador a la segunda fila */
    margin-bottom: 50px; /* Añade margen en la parte inferior */
}

@media screen and (min-width: 768px) {
    #separador {
        margin-bottom: 70px; /* Aumenta el margen en pantallas más grandes */
    }
}

/* termina el bloque de la página de contacto */
.link-pdf {
	text-align: center;
	font-size: 1.5em;
	margin: 1em 1em;
	color: var(--sombra-principal);
}

/* Estilos para el togle */
.btn-toggle {
	position: absolute; /* Necesario para z-index y para posicionar el botón */
	top: 10px; /* Ajusta según sea necesario */
	left: 10px; /* Ajusta según sea necesario */
	z-index: 100; /* Asegura que el botón esté por encima de otros elementos */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	padding: 5px;
	background: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
	border-radius: 25px; /* Hace que el botón sea completamente redondo */
	border: none; /* Elimina el borde predeterminado del botón */
	font-size: 0.8rem;
	color: #000;
}

body.dark .btn-toggle {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
}

.terms {
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 2em;
}

.text {
	margin-bottom: 30px;
	font-size: 1.2em;
	line-height: 1.5;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
	.terms {
		font-size: 1.5em;
	}

	.text {
		font-size: 1em;
	}
}

.terms-content {
	background-color: #fff;
}