{% extends 'pages/base.html' %}
{% load static %}

{% block description %}
Página principal del portfolio de Egoitz Abilleira
{% endblock description %}
{% block title %}
Egoitz Abilleira
{% endblock title %}
{% block navbar %}
{% include 'pages/navbar.html' %}
{% endblock navbar %}
{% block content %}

<div class="header-video">
  <video autoplay loop muted>
    <source src="media/videos/keyboard_-_1046 (Original).mp4" type="video/mp4">
    Tu browser no soporta el tag de video
  </video>
  <h1>Egoitz Abilleira <br/> Desarrollo Web</h1>
</div>
<main id="main-content">
{% for seccion in secciones %}
  <section class="opening-section flex-home">
    <h2 class="opening-section-title flex-home">{{ seccion.seccion | upper }}</h2>
    <div class="opening-section-line flex-home">
    <img src="{{ seccion.imagen.url }}" alt="{{ seccion.imagen.alt }}" class="flex-home home-image">
    <p class="opening-section-text flex-home">{{ seccion.texto | linebreaksbr }}</p>
    </div>
  </section>
{% endfor %}
</main>
{% endblock content %}
{% block footer %}


{% endblock footer %}

{% block javascript %}

{% endblock javascript %}