{% extends 'pages/base.html' %}

{% block description %}
Página principal del portfolio de Egoitz Abilleira
{% endblock description %}
{% block title %}
Egoitz Abilleira
{% endblock title %}
{% block navbar %}
{% include 'pages/navbar.html' %}
{% load static %}
{% endblock navbar %}
{% block content %}


<div class="image-container">
    <img src="{{ presentacion.imagen.url }}" alt="Logo de Egoitz Abilleira" class="logo-image">
</div>
<main id="main-content">

<div class="opening-title-container">
    <h1 class="opening-title">Your Title</h1>
</div>
{% for seccion in secciones %}
    <section class="opening-section">
        <h2 class="opening-section-title">{{ seccion.seccion | upper }}</h2>
        <p class="opening-section-text">{{ seccion.texto | linebreaksbr }}</p>
        <img src="{{ seccion.imagen.url }}" alt="{{ seccion.imagen.alt }}" class="home-image">
    </section>
{% endfor %}
</main>
{% endblock content %}
{% block footer %}


{% endblock footer %}

{% block javascript %}

{% endblock javascript %}
