{% extends 'pages/base.html' %}
<body class="terms-page">
{% block navbar %}
{% include 'pages/navbar.html' %}
{% endblock navbar %}

{% block content %}
<h1 class="terms">Política de Privacidad</h1>

<p class="text">Egoitzabilleira.es ("nosotros", "nuestro" o "nos") se compromete a proteger su privacidad. Esta Política de privacidad explica cómo Terminos Ya recopila, usa y divulga su información personal.</p>

<p class="text">Esta Política de privacidad se aplica a nuestro sitio web, <a href="https://egoitzabilleira.es">https://egoitzabilleira.es</a> y sus subdominios asociados (colectivamente, nuestro "Servicio") junto con nuestra aplicación, egoitzabilleira.es. Al acceder o utilizar nuestro Servicio, usted indica que ha leído, comprendido y aceptado nuestra recopilación, almacenamiento, uso y divulgación de su información personal como se describe en esta Política de privacidad y en nuestros Términos de servicio.</p>

<h2 class="terms">Definiciones y Términos Clave</h2>

<p class="text">Para ayudar a explicar las cosas de la manera más clara posible en esta Política de privacidad, cada vez que se hace referencia a cualquiera de estos términos, se definen estrictamente como:</p>

<ul>
    <li><strong>Cookie:</strong> pequeña cantidad de datos generados por un sitio web y guardados por su navegador web. Se utiliza para identificar su navegador, proporcionar análisis, recordar información sobre usted, como su preferencia de idioma o información de inicio de sesión.</li>
    <li><strong>Compañía:</strong> cuando esta política menciona "Compañía", "nosotros", "nos" o "nuestro", se refiere a egoitzabilleira.es que es responsable de su información en virtud de esta Política de privacidad.</li>
    <li><strong>Plataforma:</strong> sitio web de Internet, aplicación web o aplicación digital de cara al público de egoitzabilleira.es</li>
    <li><strong>Cliente:</strong> se refiere a la empresa, organización o persona que se registra para utilizar el Servicio egoitzabilleira.es para gestionar las relaciones con sus consumidores o usuarios del servicio.</li>
    <li><strong>Dispositivo:</strong> cualquier dispositivo conectado a Internet, como un teléfono, tablet, computadora o cualquier otro dispositivo que se pueda usar para visitar egoitzabilleira.es y usar los servicios.</li>
    <li><strong>Datos personales:</strong> cualquier información que directa, indirectamente o en conexión con otra información, incluido un número de identificación personal, permita la identificación de una persona física.</li>
    <li><strong>Servicio:</strong> se refiere al servicio brindado por egoitzabilleira.es como se describe en los términos relativos (si están disponibles) y en esta plataforma.</li>
    <li><strong>Terceros:</strong> se refiere a anunciantes, patrocinadores de concursos, socios promocionales y de marketing, y otros que brindan nuestro contenido o cuyos productos o servicios que creemos que pueden interesarle.</li>
    <li><strong>Sitio web:</strong> el sitio de egoitzabilleira.es, al que se puede acceder a través de esta URL: <a href="https://egoitzabilleira.es">https://egoitzabilleira.es</a></li>
    <li><strong>Usted:</strong> una persona o entidad que está registrada con egoitzabilleira.es para utilizar los Servicios.</li>
</ul>

<h2 class="terms">¿Qué información recopilamos?</h2>

<p class="text">Recopilamos información suya cuando contacta con nuestro sitio o completa un formulario.</p>

<ul>
    <li>Correos electrónicos</li>
    <li>Nombre / nombre de usuario</li>
</ul>

<h2 class="terms">¿Cómo usamos la información que recopilamos?</h2>

<p class="text">Cualquiera de la información que recopilamos de usted puede usarse de una de las siguientes maneras:</p>

<ul>
    <li>Para personalizar su experiencia (su información nos ayuda a responder mejor a sus necesidades individuales)</li>
    <li>Para mejorar nuestra plataforma (nos esforzamos continuamente por mejorar lo que ofrece nuestra plataforma en función de la información y los comentarios que recibimos de usted)</li>
    <li>Para mejorar el servicio al cliente (su información nos ayuda a responder de manera más efectiva a sus solicitudes de servicios y necesidades de soporte)</li>
    <li>Para enviar correos electrónicos de respuesta.</li>
</ul>

<h2 class="terms">¿Cómo utilizamos su dirección de correo electrónico?</h2>

<h2 class="terms">¿Cómo utilizamos su dirección de correo electrónico?</h2>

<p class="text">Al enviar su dirección de correo electrónico en esta plataforma, acepta recibir nuestros correos electrónicos. Puede cancelar su participación en cualquiera de estas listas de correo electrónico en cualquier momento haciendo clic en el enlace de exclusión voluntaria u otra opción para cancelar la suscripción que se incluye en el correo electrónico respectivo. Solo enviamos correos electrónicos a personas que nos han autorizado a contactarlos, ya sea directamente o a través de un tercero. No enviamos correos electrónicos comerciales no solicitados, porque odiamos el spam tanto como usted. No se almacenará ningún correo electrónico ya que esta es una web personal, ni se usará con ningún motivo diferente al de contestarlo.</p>

<h2 class="terms">¿Cuánto tiempo conservamos su información?</h2>

<p class="text">Conservamos su información solo mientras la necesitemos para proporcionarle egoitzabilleira.es y cumplir con los propósitos descritos en esta política. Este también es el caso de cualquier persona con la que compartamos su información y que lleve a cabo servicios en nuestro nombre. Cuando ya no necesitemos usar su información y no sea necesario que la conservemos para cumplir con nuestras obligaciones legales o reglamentarias, la eliminaremos de nuestros sistemas o la despersonalizaremos para que no podamos identificarlo.</p>

<h2 class="terms">¿Cómo protegemos su información?</h2>

<p class="text">Implementamos una variedad de medidas de seguridad para mantener la seguridad de su información personal cuando envía su información personal. Ofrecemos el uso

<h2 class="terms">Afiliados</h2>

<p class="text">Podemos divulgar información (incluida la información personal) sobre usted a nuestros afiliados corporativos. Para los propósitos de esta Política de Privacidad, "Afiliado Corporativo" significa cualquier persona o entidad que directa o indirectamente controla, está controlada por o está bajo control común con egoitzabilleira.es, ya sea por propiedad o de otra manera. Cualquier información relacionada con usted que proporcionemos a nuestros afiliados corporativos será tratada por dichos afiliados corporativos de acuerdo con los términos de esta política de privacidad. Vamos, qué solo la usaré yo y siempre que sea necesario, normalmente la borraré al instante.</p>

<h2 class="terms">Tu consentimiento</h2>

<p class="text">Hemos actualizado nuestra Política de privacidad para brindarle total transparencia sobre lo que se establece cuando visita nuestro sitio y cómo se utiliza. Al utilizar nuestra plataforma, registrar una cuenta o realizar una compra, por la presente acepta nuestra Política de privacidad y acepta sus términos.</p>

<h2 class="terms">Enlaces a otros Sitios Web</h2>

<p class="text">Esta Política de privacidad se aplica solo a los Servicios. Los Servicios pueden contener enlaces a otros sitios web que egoitzabilleira.es no opera ni controla. No somos responsables por el contenido, la precisión o las opiniones expresadas en dichos sitios web, y dichos sitios web no son investigados, monitoreados o verificados por nuestra precisión o integridad. Recuerde que cuando utiliza un enlace para ir desde los Servicios a otro sitio web, nuestra Política de privacidad deja de estar en vigor. Su navegación e interacción en cualquier otro sitio web, incluidos aquellos que tienen un enlace en nuestra plataforma, están sujetos a las propias reglas y políticas de ese sitio web. Dichos terceros pueden utilizar sus propias cookies u otros métodos para recopilar información sobre usted.</p>

<h2 class="terms">Cookies</h2>

<p class="text">Egoitzabilleira.es utiliza "cookies" para identificar las áreas de nuestro sitio web que ha visitado. Una cookie es una pequeña porción de datos que su navegador web almacena en su computadora o dispositivo móvil. Usamos cookies para mejorar el rendimiento y la funcionalidad de nuestra plataforma y son esenciales para su uso. Sin estas cookies, es posible que ciertas funciones, como los videos, ya que no podríamos recordar que había iniciado sesión anteriormente. La mayoría de los navegadores web se pueden configurar para desactivar el uso de cookies. Sin embargo, si desactiva las cookies, es posible que no pueda acceder a la funcionalidad de nuestro sitio web correctamente o en absoluto, aunque al ser de sesión y csrf no creo que hubiera problema. Nunca colocamos información de identificación personal en cookies.</p>

<h2 class="terms">Privacidad de los Niños</h2>

<p class="text">No nos dirigimos a ninguna persona menor de 13 años. No recopilamos información de identificación personal de ninguna persona menor de 13 años. Si usted es padre o tutor y sabe que su hijo nos ha proporcionado Datos personales, comuníquese con Nos. Si nos damos cuenta de que hemos recopilado datos personales de cualquier persona menor de 13 años sin la verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</p>

<h2 class="terms">Cambios en nuestra Política de Privacidad</h2>

<p class="text">Podemos cambiar nuestro Servicio y nuestras políticas, y es posible que debamos realizar cambios en esta Política de privacidad para que reflejen con precisión nuestro Servicio y nuestras políticas. A menos que la ley exija lo contrario, le notificaremos (por ejemplo, a través de nuestro Servicio) antes de realizar cambios en esta Política de privacidad y le daremos la oportunidad de revisarlos antes de que entren en vigencia. Luego, si continúa utilizando el Servicio, estará sujeto a la Política de privacidad actualizada. Si no desea aceptar esta o cualquier Política de privacidad actualizada, puede eliminar su cuenta.</p>

<h2 class="terms">Servicios de terceros</h2>

<p class="text">Podemos mostrar, incluir o poner a disposición contenido de terceros (incluidos datos, información, aplicaciones y otros servicios de productos) o proporcionar enlaces a sitios web o servicios de terceros ("Servicios de terceros").</p>

<p class="text">Usted reconoce y acepta que egoitzabilleira.es no será responsable de ningún Servicio de terceros, incluida su precisión, integridad, puntualidad, validez, cumplimiento de los derechos de autor, legalidad, decencia, calidad o cualquier otro aspecto de los mismos. Egoitzabilleira.es no asume ni tendrá ninguna obligación o responsabilidad ante usted o cualquier otra persona o entidad por los Servicios de terceros.</p>

<p class="text">Los Servicios de terceros y los enlaces a los mismos se brindan únicamente para su conveniencia y usted accede a ellos y los usa completamente bajo su propio riesgo y sujeto a los términos y condiciones de dichos terceros.</p>

<h2 class="terms">Información sobre el Reglamento general de protección de datos (RGPD)</h2>

<p class="text">Es posible que recopilemos y utilicemos información suya si pertenece al Espacio Económico Europeo (EEE), y en esta sección de nuestra Política de privacidad vamos a explicar exactamente cómo y por qué se recopilan estos datos, y cómo los mantenemos bajo protección contra la replicación o el uso incorrecto.</p>

<h3 class="terms">¿Qué es RGPD?</h3>

<p class="text">RGPD es una ley de privacidad y protección de datos en toda la UE que regula cómo las empresas protegen los datos de los residentes de la UE y mejora el control que los residentes de la UE tienen sobre sus datos personales.</p>

<p class="text">El RGPD es relevante para cualquier empresa que opere a nivel mundial y no solo para las empresas con sede en la UE y los residentes de la UE. Los datos de nuestros clientes son importantes independientemente de dónde se encuentren, por lo que hemos implementado controles RGPD como nuestro estándar de referencia para todas nuestras operaciones en todo el mundo.</p>

<h3 class="terms">¿Qué son los Datos Personales?</h3>

<p class="text">Cualquier dato que se relacione con un individuo identificable o identificable. El RGPD cubre un amplio espectro de información que podría usarse por sí sola o en combinación con otras piezas de información para identificar a una persona. Los datos personales van más allá del nombre o la dirección de correo electrónico de una persona. Algunos ejemplos incluyen información financiera, opiniones políticas, datos genéticos, datos biométricos, direcciones IP, dirección física, orientación sexual y origen étnico.</p>

<p class="text">Los principios de protección de datos incluyen requisitos tales como:</p>
<ul>
    <li>Los datos personales recopilados deben procesarse de manera justa, legal y transparente y solo deben usarse de la manera que una persona esperaría razonablemente.</li>
    <li>Los datos personales solo deben recopilarse para cumplir con un propósito específico y solo deben usarse para ese propósito. Las organizaciones deben especificar por qué necesitan los datos personales cuando los recopilan.</li>
    <li>Los datos personales no deben conservarse más tiempo del necesario para cumplir con su propósito.</li>
    <li>Las personas cubiertas por el RGPD tienen derecho a acceder a sus propios datos personales. También pueden solicitar una copia de sus datos y que sus datos se actualicen, eliminen, restrinjan o muevan a otra organización.</li>
</ul>

<h2 class="terms">Contáctenos</h2>

<p class="text">No dude en contactarnos si tiene alguna pregunta.</p>
<ul>
    <li>A través de correo electrónico: <a href="mailto:egoitzabilleira@outlook.com">egoitzabilleira@outlook.com</a></li>
    <li>A través de este enlace: <a href="https://egoitzabilleira.es/contacto">https://egoitzabilleira.es/contacto</a></li>
</ul>

{% endblock %}

{% block footer_include %}
{% endblock footer_include %}
</body>